   <%% if (entity) { %>
   <form name="customer">
     <div class="all-space bottom-margin" style="border:1px solid #EEE">
     <div class="container_12">
   <%% } %>
        <div class="grid_6">
          <%% if (!entity) { %>
          <div class="all-space bottom-margin" style="border:1px solid #EEE">
          <%% } %>
              <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.order_management.form.customer_title %>
              </div>
              <%% if (entity) { %>
                <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
              <%% } %>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_name %><span class="mandatoryfield">*</span></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="12" name="customer_name" id="customer_name"
                      <%% if (entity) { %>value="<%%=entity.customer_name%>"<%% } %>/>
                    <input type="text" maxlength="40" size="13" name="customer_surname" id="customer_surname"
                      <%% if (entity) { %>value="<%%=entity.customer_surname%>"<%% } %>/>
                  </span>
                </div>
              </div>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_phone %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="15" size="12" name="customer_phone" id="customer_phone"
                      <%% if (entity) { %>value="<%%=entity.customer_phone%>"<%% } %>/>
                    <input type="text" maxlength="15" size="13" name="customer_mobile_phone" id="customer_mobile_phone"
                      <%% if (entity) { %>value="<%%=entity.customer_mobile_phone%>"<%% } %>/>
                  </span>
                </div>
              </div>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_email %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="26" name="customer_email" id="customer_email"
                      <%% if (entity) { %>value="<%%=entity.customer_email%>"<%% } %> style="width:100%"/>
                  </span>
                </div>
              </div>
              <%% if (entity) { %>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_document_id %></span>
                  <span class="entity-fieldvalue">
                      <input type="text" maxlength="50" size="26" name="customer_document_id" id="customer_document_id"
                        <%% if (entity) { %>value="<%%=entity.customer_document_id%>"<%% } %>/>
                    </span>
                </div>
              </div>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_language %></span>
                  <span class="entity-fieldvalue">
                    <select name="customer_language" class="form-control" style="width: 100%">
                        <option value="" <%% if (!entity || (entity && (entity.customer_language == null || entity.customer_language == ''))){%>selected<%%}%>>Seleccione idioma</option>
                      <% @languages.each do |item| %>
                        <option value="<%=item.code%>" <%% if (entity && entity.customer_language == '<%=item.code%>'){%>selected<%%}%>><%=item.description%></option>
                      <% end %>
                    </select>
                  </span>
                </div>
              </div>
              <%% } %>
          <%% if (!entity) { %>
          </div>
          <%% } %>
        </div>

        <%% if (entity) { %>
        <div class="grid_6">
          <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%=t.booking_management.form.driver_address_title%></div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_street %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="customer_address[street]" id="customer_address[street]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.street%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_number %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="10" size="25" name="customer_address[number]" id="customer_address[number]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.number%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_complement %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="20" size="25" name="customer_address[complement]" id="customer_address[complement]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.complement%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_city %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="customer_address[city]" id="customer_address[city]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.city%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_state %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="customer_address[state]" id="customer_address[state]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.state%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_country %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="50" size="25" name="customer_address[country]" id="customer_address[country]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.country%>"<%%}%>/>
                    </span>
            </div>
          </div>
          <div class="element_template">
            <div class="entity-field">
              <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_zip %></span>
              <span class="entity-fieldvalue">
                      <input type="text" maxlength="10" size="25" name="customer_address[zip]" id="customer_address[zip]"
                             <%%if(entity.customer_address){%>value="<%%=entity.customer_address.zip%>"<%%}%>/>
                    </span>
            </div>
          </div>
        </div>
     </div>

     <div class="container_12">
        <div class="navigation-bar bottom-margin">
          <div class="navigation-bar-crud-buttons right-float">
            <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
          </div>
        </div>
     </div>

     </div>
   </form>


      <%% } %>