<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.order_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.order_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
        <th class="table-header-title" scope="col" style="width:10%"><%= t.order_management.table.id %></th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.order_management.table.creation_date %></th>
         <th class="table-header-title" scope="col" style="width:35%"><%= t.order_management.table.customer %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.order_management.table.status %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.order_management.table.payment_status %></th>  
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.id %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.creation_date) %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.customer_name %> <%%=entity.customer_surname%></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <span class="smaller_text <%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>      
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <%% if (entity.payment_status == 'none') { %><span class="element-status pending-status smaller_text">p</span> <%% } %>   
         <%% if (entity.payment_status == 'deposit') { %><span class="element-status doing-status smaller_text">d</span> <%% } %>      
         <%% if (entity.payment_status == 'total') { %><span class="element-status done-status smaller_text">t</span> <%%}%>
         <%% if (entity.payment_status == 'refunded') { %><span class="element-status error-status smaller_text">c</span> <%%}%>        
      </td>      
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
    <%% if (!entity) { %>         
    <form name="element" id="order_management_form">
    <%% } %>   

      <%% if (entity) { %> 
      <div class="container_12">
        <div class="element-detail guiblock overflow">
          <div class="grid_6">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
          </div>
          <div class="grid_6">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                </span>
              </div>
            </div>
            <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.payment_status %></span>
                 <span class="entity-fieldvalue">
                    <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                      <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                    </span>
                 </span>
               </div>
            </div>
          </div>
        </div>
      </div>
      <%% } %>

      <div class="container_12">
        
        <%% if (entity) { %>
        <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
        <%% } %>

        <div class="grid_6">
          <div class="all-space bottom-margin" style="border:1px solid #EEE">
            <%% if (entity) { %>
            <form name="customer">
            <%% } %>
              <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.order_management.form.customer_title %>
              </div> 
              <%% if (entity) { %>
                <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
              <%% } %>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_name %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="12" name="customer_name" id="customer_name"
                      <%% if (entity) { %>value="<%%=entity.customer_name%>"<%% } %>/>
                    <input type="text" maxlength="40" size="13" name="customer_surname" id="customer_surname"
                      <%% if (entity) { %>value="<%%=entity.customer_surname%>"<%% } %>/>
                  </span>
                </div>
              </div>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_phone %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="15" size="12" name="customer_phone" id="customer_phone"
                      <%% if (entity) { %>value="<%%=entity.customer_phone%>"<%% } %>/>
                    <input type="text" maxlength="15" size="13" name="customer_mobile_phone" id="customer_mobile_phone"
                      <%% if (entity) { %>value="<%%=entity.customer_mobile_phone%>"<%% } %>/>
                  </span>
                </div>
              </div>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_email %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="26" name="customer_email" id="customer_email"
                      <%% if (entity) { %>value="<%%=entity.customer_email%>"<%% } %> style="width:100%"/>
                  </span>
                </div>
              </div>
              <div class="element_template" style="display:none">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.customer_language %></span>
                  <span class="entity-fieldvalue"><%% if (entity) { %><%%= entity.customer_language %><%%}%></span>
                </div>
              </div>
              <%% if (entity) {%>
              <div class="navigation-bar bottom-margin">
                <div class="navigation-bar-crud-buttons right-float">
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>             
              <%% } %>   
            <%% if (entity) { %>         
            </form>    
          <%% } %>
          </div>
        </div>


        <div class="grid_6">
           <div class="all-space left-margin bottom-margin" style="border:1px solid #EEE">
             <%% if (entity) { %>
             <form name="anotations" class="all-space">
             <%% } %>
               <%% if (entity) { %>
                 <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
               <%% } %>         
               <div class="more_contrast_text" style="text-decoration:underline"><%= t.order_management.form.anotations %></div>
               <div class="formrow">
                 <textarea name="notes" rows="6" class="fieldcontrol"><%% if (entity) { %><%%= entity.notes %><%%}%></textarea>
               </div>
               <%% if (entity) {%>
               <div class="navigation-bar bottom-margin">
                 <div class="navigation-bar-crud-buttons right-float">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </div>
               </div>             
               <%% } %>
             <%% if (entity) { %>  
             </form>             
             <%% } %>  
           </div>     

        </div>

      </div>

      <%% if (entity) { %>

      <div class="container_12">
          <div class="xtable">
            <div class="xtable-header">
              <div class="xtable-row container_12">
                <span class="xtable-cell left_text grid_3 more_contrast_text">Fecha</span>                                         
                <span class="xtable-cell left_text grid_3 more_contrast_text"><%=t.order_management.form.order_item.item%></span>
                <span class="xtable-cell left_text grid_1 more_contrast_text"><%=t.order_management.form.order_item.quantity%></span>
                <span class="xtable-cell left_text grid_1 more_contrast_text">Tarifa</span>                            
                <span class="xtable-cell left_text grid_1 more_contrast_text"><%=t.order_management.form.order_item.unit_cost%></span>                            
                <span class="xtable-cell left_text grid_1 more_contrast_text"><%=t.order_management.form.order_item.cost%></span>     
                <span class="xtable-cell centered_text grid_2 more_contrast_text"><%=t.order_management.form.order_item.annotation%></span>   
              </div>
            </div>
            <div class="xtable-tbody">
              <%% for (var lineIdx=0; lineIdx < entity.order_items.length; lineIdx++) { %>
              <form name="update_order_item_<%%=lineIdx%>" class="update_order_item table-row container_12 bottom-separator bottom-margin" style="padding-top: 5px; padding-bottom: 15px">
                <input type="hidden" id="id" name="id" value="<%%=entity.order_items[lineIdx].id%>"/>            
                <span class="xtable-cell grid_3">
                  <input type="text" name="date" class="fieldcontrol date_control" id="date_<%%=lineIdx%>" size="14" value="<%%=entity.order_items[lineIdx].date%>" value="<%%= entity.order_items[lineIdx].time %>"/>
                  <input type="text" name="time" class="fieldcontrol" size="14" value="<%%= entity.order_items[lineIdx].time %>"/>
                </span>
                <span class="xtable-cell grid_3">
                  <input type="text" name="item_id" class="fieldcontrol" size="5" value="<%%=entity.order_items[lineIdx].item_id%>"/>
                  <input type="text" name="item_description" class="fieldcontrol" size="23" value="<%%= entity.order_items[lineIdx].item_description %>"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="quantity" size="8" value="<%%= entity.order_items[lineIdx].quantity %>"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="item_price_type" size="8" value="<%%= entity.order_items[lineIdx].item_price_type %>"/>
                </span>                
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="item_unit_cost" size="8" value="<%%= new Number(entity.order_items[lineIdx].item_unit_cost).toFixed(2) %>"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="item_cost" size="8" value="<%%= new Number(entity.order_items[lineIdx].item_cost).toFixed(2) %>"/> 
                </span>   
                <span class="xtable-cell grid_2">
                  <textarea name="notes" rows="1" style="padding: 7px;" cols="20"><%%=entity.order_items[lineIdx].notes%></textarea>                 
                </span>
                <span class="xtable-cell grid_12 right_text top-margin  right-margin" style="position: relative; right: 5px;">
                   <input type="submit" class="form-button action-button entity-management-button" value="<%=t.order_management.form.order_item.update%>"/>
                   <button type="button" class="element-action-button form-button action-button entity-management-button" 
                      data-action-method="DELETE"
                      data-action-url="/api/order/order-item/<%%=entity.order_items[lineIdx].id%>"
                      data-confirm-message="<%=t.order_management.form.order_item.delete_button.message%>">
                      <%=t.order_management.form.order_item.delete%>
                    </button>
                </span> 
         
              </form>   
              <%% } %>

              <form class="xtable-row container_12" name="add_order_item"  style="padding-top: 5px; padding-bottom: 5px">              
                <input type="hidden" name="order_id" value="<%%=entity.id%>"/>
                <span class="xtable-cell grid_3">
                  <input type="text" name="date" id="new_order_line_date" class="fieldcontrol date_control" size="14"/>
                  <input type="text" name="time" class="fieldcontrol" size="14"/>
                </span>                
                <span class="xtable-cell grid_3">
                  <input type="text" name="item_id" class="fieldcontrol" size="5"/>
                  <input type="text" name="item_description" class="fieldcontrol" size="23"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" name="quantity" size="8"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="item_price_type" size="8"/>
                </span>                   
                <span class="xtable-cell grid_1">
                  <input type="text" name="item_unit_cost" size="8"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" name="item_cost" size="8"/>
                </span>
                <span class="xtable-cell grid_2">
                  <textarea name="notes" rows="1" style="padding: 7px;" cols="20"></textarea>
                </span>
                <span class="xtable-cell grid_12 right_text top-margin  right-margin" style="position: relative; right: 5px;">
                   <input type="submit" class="left-margin form-button action-button entity-management-button" value="<%=t.order_management.form.order_item.add%>"/>                
                </span>
              </form>              

              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                    <span class="more_contrast_text">TOTAL</span>
                 </span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin">
                      <%%=new Number(entity.total_cost).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>

              <form class="xtable-row all-space container_12" name="deposit">
                 <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">DEPÓSITO</span>
                 </span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1">
                   <input type="text" name="reservation_amount" size="8" maxlength="10" value="<%%=new Number(entity.reservation_amount).toFixed(2)%>" class="right_text"/>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </span>                 
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </form>

              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">PAGADO</span>
                 </span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin">
                      <%%=new Number(entity.total_paid).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>

              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">PENDIENTE</span>
                 </span>
                 <span class="xtable-cell grid_1">&nbsp;</span>
                 <span class="xtable-cell grid_1">&nbsp;</span>                 
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin">
                      <%%=new Number(entity.total_pending).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>              

            </div>
          </div>
          
      </div>


      <%% } %>

      <%% if (entity) { %>
               <%% if (entity.charges.length > 0) { %>
                     <table class="table bottom-margin-line bottom-separator">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:20%"><%=t.order_management.form.charge_date%></th>
                            <th class="table-cell" scope="col" style="width:20%"><%=t.order_management.form.charge_payment_method%></th>                            
                            <th class="table-cell" scope="col" style="width:30%"><%=t.order_management.form.charge_amount%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.order_management.form.charge_status%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var chargeIdx=entity.charges.length-1; chargeIdx >=0 ; chargeIdx--) { %>
                            <tr class="table-row">
                               <td class="table-cell centered_text"><%%=self.formatDate(entity.charges[chargeIdx].date, 'dd.MM.yyyy HH:mm')%></td>
                               <td class="table-cell centered_text"><%%=entity.charges[chargeIdx].payment_method_id%></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.charges[chargeIdx].amount).toFixed(2) %></td>
                               <td class="table-cell centered_text"><span class="element-status <%%=self.model.entityHooks[0].chargeStatusClass(entity.charges[chargeIdx])%>"><%%= self.model.entityHooks[0].chargeStatusDescription[entity.charges[chargeIdx].status] %></span></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>        
                <%% } else { %>
                  <p><%=t.order_management.form.no_charges%></p>
                <%% } %>  
      <%% } %>        


      <%% if (entity) { %>

                <div class="top-separator bottom-separator bottom-margin bottom-space-1line top-margin top-space overflow">

                     <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.order_management.form.payment_title %>
                     </div> 

                     <%% if (entity.is_expired) { %>
                     <div class="grid_4">
                        <span class="error-status"><%=t.order_management.form.expired%></span>
                     </div> 
                     <%% } else {%>
                     <div class="grid_4">
                        <span><%=t.order_management.form.payment_allowed%></span>
                     </div> 
                     <%% } %>    
                
                     <div class="grid_4">
                         <%% if (entity.status != 'cancelled') { %>
                           <%% if (!entity.force_allow_payment) { %>
                            <div class="error-status">
                              <%=t.order_management.form.payment_not_allowed%>
                            </div>  
                            <button class="top-margin form-button black-button element-action-button" id="allow_payment_button" 
                                title="<%=t.order_management.form.allow_payment_button.label%>" 
                                data-action-method="POST"
                                data-action-url="/api/order/allow-payment/<%%=entity.id%>"
                                data-confirm-message="<%=t.order_management.form.allow_payment_button.message%>">
                                <%=t.order_management.form.allow_payment_button.label%>
                            </button>
                           <%% } 
                               else { %>
                            <span class="confirmed-status"><%=t.order_management.form.force_allow_payment%></span>    
                           <%% } %>  
                        <%% } %>  
                     </div> 

                     <div class="grid_4">
                         <%% if (entity.status != 'cancelled') { %>
                           <%% if (!entity.force_allow_deposit_payment) { %>
                            <div class="error-status">
                              <%=t.order_management.form.deposit_payment_not_allowed%>
                            </div>  
                            <button class="top-margin form-button black-button element-action-button" id="allow_payment_button" 
                                title="<%=t.order_management.form.allow_deposit_payment_button.label%>" 
                                data-action-method="POST"
                                data-action-url="/api/order/allow-deposit-payment/<%%=entity.id%>"
                                data-confirm-message="<%=t.order_management.form.allow_deposit_payment_button.message%>">
                                <%=t.order_management.form.allow_deposit_payment_button.label%>
                            </button>
                           <%% } 
                               else { %>
                            <span class="confirmed-status"><%=t.order_management.form.force_allow_deposit_payment%></span>    
                           <%% } %>  
                        <%% } %>  
                     </div> 

                </div>

      <%% } %>

      <%% if (entity) { %>


     <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.order_management.form.other_tab%></a>
          </li>          
      </ul>


      <div id="content">
         <div id="other_tab"  class="top-margin-1line">
            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.free_access_id %></span>
               <span class="entity-fieldvalue"><a href="/p/myorder/<%%=entity.free_access_id%>" target="_blank">/p/myorder/<%%=entity.free_access_id%></a></span>
              </div>
            </div>
        </div>
      </div>
      <%% } %>  




      <%% if (!entity) { %>        
      <div class="bottom-navigation-bar navigation-bar">
          <div class="navigation-bar-crud-buttons">
              <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
          </div>
      </div>
      <%% } %>
     
    <%% if (!entity) { %>
    </form>
    <%% } %>

</script>
