<%= include('entity-management') %>

<div id="order_item_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pendingAssignationModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div id="modal_container_order_item" class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.order_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.order_management.description %>
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <button class="btn btn-primary search-entity-button" type="button"><i class="si si-magnifier"></i></button>
       <select name="status" class="search-entity-control form-control">
         <option value="all">Todas</option>
         <option value="pending"><%=t.booking_console.report_pending_confirmation%>&nbsp;(<%=@pending_confirmation_orders%>)</option>
         <option value="starting">Previstas hoy&nbsp;(<%=@count_start%>)</option>
         <option value="received">Recibidas temporada&nbsp;(<%=@received_orders%>)</option>
         <option value="confirmed">Confirmadas temporada&nbsp;(<%=@confirmed_orders%>)</option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:80px">#</th>
         <th class="table-header-title" scope="col" style="width:180px"><%= t.order_management.table.customer %></th>
         <th class="table-header-title" scope="col" style="width:25%"><%= t.order_management.table.product %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.order_management.table.status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.order_management.table.payment_status %></th>
         <% if multiple_rental_locations %>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.order_management.table.rental_location %></th>
         <% end %>
         <th class="table-header-title" scope="col" style="width:15%">Comentarios</th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.order_management.table.creation_date %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><strong class="text-primary"><%%= entity.id %></strong></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><strong><%%= entity.customer_name %> <%%=entity.customer_surname%></strong></td>
      <td class="table-cell element-navigation-detail" rel="<%%=index%>">
        <%% var items = []; %>
        <%% for (var idx=0;idx<entity.order_items.length;idx++) { %>
          <%% if (items.indexOf(entity.order_items[idx].item_id) == -1) { %>
            <%% if (items.length > 0) {%>
            <br>
            <%% } %>
            <%% var description = entity.order_items[idx].item_id; %>
            <%% description += ' ('+entity.order_items[idx].quantity+'pax) ';%>
            <%% description += '- '+ entity.order_items[idx].date.toString('dd.MM.yy'); %>
            <%%= description %>
            <%% items.push(entity.order_items[idx].item_id ); %>
          <%% } %>
        <%% } %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>">
        <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>      
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>">
         <%% if (entity.payment_status == 'deposit') { %><span class="label label-info">depósito</span> <%% } %>
         <%% if (entity.payment_status == 'total') { %><span class="label label-success">total</span> <%%}%>
         <%% if (entity.payment_status == 'refunded') { %><span class="label label-danger">devuelto</span> <%%}%>
      </td>
      <% if multiple_rental_locations %>
      <td class="table-cell"><%%= entity.rental_location_code %></td>
      <% end %>
      <td class="table-cell"><%%= entity.comments %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.creation_date,'dd.MM.yyyy') %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
  <%% if (!entity) { %>
    <form name="element" id="order_management_form">
      <% if multiple_rental_locations %>
      <div class="container_12">
        <div class="grid_12">
          <div class="all-space bottom-margin" style="border:1px solid #EEE">
            <div class="more_contrast_text" style="text-decoration:underline"><%= t.order_management.form.rental_location_title %></div>
            <div class="formrow">
              <div class="entity-field">
                <span class="less_contrast_text"><%= t.order_management.form.rental_location %></span>
                <span class="" style="margin-left: 8.5em">
                   <select name="rental_location_code" id="rental_location"></select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <div class="container_12">
        <%= partial :order_management_customer %>
        <div class="grid_6">
          <div class="left-margin all-space bottom-margin" style="border:1px solid #EEE; padding-bottom: 25px">
            <div class="more_contrast_text" style="text-decoration:underline"><%= t.order_management.form.comments_new %></div>
            <div class="formrow">
              <textarea name="comments" rows="6" class="fieldcontrol"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-navigation-bar navigation-bar">
          <div class="navigation-bar-crud-buttons">
              <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
          </div>
      </div>
    </form>

  <%% } else { %>

    <div id="dialogs_container">
      <div class="container_12">
        <div class="element-detail all-border-solid-light all-space overflow bottom-margin-1line">
          <div class="grid_5">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
            <% if multiple_rental_locations %>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.rental_location %></span>
                <span class="entity-fieldvalue">
                  <form name="rental_location">
                      <input type="hidden" name="id" value="<%%=entity.id%>"/>
                      <select name="rental_location_code" id="rental_location"></select>
                      <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </form>
                </span>
              </div>
            </div>
            <% end %>
          </div>
          <div class="grid_5">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                </span>
              </div>
            </div>
            <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.payment_status %></span>
                 <span class="entity-fieldvalue">
                    <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                      <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                    </span>
                 </span>
               </div>
            </div>
          </div>
          <div class="grid_2">
            <div class="container_12">
              <div class="grid_12 smaller_text">      
                <%= partial :order_management_actions %>
              </div>
            </div>          
          </div>
        </div>
      </div>

      <div class="container_12">

        <div class="grid_12">
          <%= partial :order_management_detail %>
        </div>
      
      </div>

      <br>

      <div class="container_12">
        <div class="grid_3">
          <div class="form-button" style="width:90%">
            <a href="/admin/order/contract/<%%=entity.id%>" target="_blank">Contrato</a>
          </div>
        </div>
        <%% if (entity && entity.contracts.length > 0) { %>
          <%% for (var idx=0;idx<entity.contracts.length;idx++) {%>
          <div class="grid_3">
            <div class="form-button" style="width:90%">
              <a href="/admin/order/contract/<%%=entity.id%>/<%%=idx%>" target="_blank">Contrato <%%=entity.contracts[idx].item_description%> - <%%=entity.contracts[idx].date%></a>
            </div>
          </div>
          <%% } %>
        <%% } %>
      </div>

      <br>

      <ul id="content_tabs" class="no-border no-background top-margin-2lines">
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="customer_tab" href="#customer_tab">Cliente</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="comments_notes_tab" href="#comments_notes_tab">Comentarios/Notas</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="charges_tab" href="#charges_tab">Detalle cobros</a>
          </li> 
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="notifications_tab" href="#notifications_tab">Notificaciones</a>
          </li>                    
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="payment_tab" href="#payment_tab"><%= t.order_management.form.payment_title %></a>
          </li>               
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.order_management.form.other_tab%></a>
          </li>          
      </ul>

      <div id="content" style="overflow:overlay">
         <div id="customer_tab" class="top-margin-1line">
           <%= partial :order_management_customer %>
         </div>
         <div id="comments_notes_tab" class="top-margin-1line">
           <%= partial :order_management_comments_notes %>
         </div>
         <div id="charges_tab" class="top-margin-1line">
           <%= partial :order_management_charges %>
         </div>
         <div id="notifications_tab" class="top-margin-1line">
           <%= partial :order_management_notifications %>
         </div>
         <div id="payment_tab" class="top-margin-1line">
           <%= partial :order_management_payment %>
         </div>
         <div id="other_tab"  class="top-margin-1line">
           <%= partial :order_management_others %>
         </div>
      </div>

    </div>

  <%% } %>
</script>

<!-- Script to create an order item -->

<script type="text/tmpl" id="script_order_line_form">

  <form name="add_order_item"
        class="update_order_item form-element" style="padding-top: 5px">
    <input type="hidden" name="order_id"/>
    <div class="container_12">
      <div class="grid_6">
        <div class="formrow">
          <label for="date" class="fieldtitle">Fecha</label>
          <input type="text" name="date" class="fieldcontrol" id="new_order_line_date" size="14"/>
        </div>
        <div>
          <label for="time" class="fieldtitle">Hora</label>
          <input type="text" name="time" class="fieldcontrol" size="14"/>
        </div>
        <div class="formrow">
          <label for="item_id" class="fieldtitle">Código del producto</label>
          <input type="text" name="item_id" class="fieldcontrol" size="8" id="new_order_line_item_id"/>
        </div>
        <div class="formrow">
          <label for="item_description" class="fieldtitle">Descripción del producto</label>
          <input type="text" name="item_description" class="fieldcontrol" size="20" id="new_order_line_item_description" style="background:#EEE"  tabindex="-1"/>
        </div>
        <div class="formrow">
          <label for="item_description" class="fieldtitle">Tipo de tarifa del producto</label>
          <select name="item_price_type" id="new_order_line_item_price_type"></select>
          <input type="hidden" name="item_price_description" id="new_order_line_item_price_description"/>
        </div>
      </div>
      <div class="grid_6">
        <div class="left-margin">
          <div class="formrow">
            <label for="item_id" class="fieldtitle">Cantidad</label>
            <input type="text" class="fieldcontrol right_text" name="quantity" size="8" style="padding:5px"/>
          </div>
          <div class="formrow">
            <label for="item_id" class="fieldtitle">Coste unitario</label>
            <input type="text" class="fieldcontrol right_text" name="item_unit_cost" size="8" style="padding:5px"/>
          </div>
          <div class="formrow">
            <label for="item_id" class="fieldtitle">Notas</label>
            <textarea name="notes" rows="7" class="fieldcontrol" style="padding: 7px;" cols="18"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-navigation-bar navigation-bar" style="padding: 0px; padding-top: 10px; margin-top: 10px">
      <div class="navigation-bar-crud-buttons" style="width: 100%; float: none; margin: 0">
        <input type="submit" class="blue-button entity-management-button" style="width: 100%" value="<%=t.entitymanagement.create%>"/>
      </div>
    </div>
  </form>

</script>

<!-- Script to edit an order item -->

<script type="text/tmpl" id="order_item_edition_script">

                <form name="update_order_item_<%%=lineIdx%>"
                      class="update_order_item form-element" style="padding-top: 5px">
                  <input type="hidden" id="id" name="id" value="<%%=entity.order_items[lineIdx].id%>"/>
                  <div class="container_12">
                    <div class="grid_6">
                      <div class="formrow">
                        <label for="date" class="fieldtitle">Fecha</label>
                        <input type="text" name="date" class="fieldcontrol" id="date_<%%=lineIdx%>" size="14" value="<%%=entity.order_items[lineIdx].date%>" value="<%%= entity.order_items[lineIdx].time %>"/>
                      </div>
                      <div>
                        <label for="time" class="fieldtitle">Hora</label>
                        <input type="text" name="time" class="fieldcontrol" size="14" value="<%%= entity.order_items[lineIdx].time %>"/>
                      </div>
                      <div class="formrow">
                        <label for="item_id" class="fieldtitle">Código del producto</label>
                        <input type="text" name="item_id" id="item_id_<%%=entity.order_items[lineIdx].id%>" class="fieldcontrol" size="8" value="<%%=entity.order_items[lineIdx].item_id%>"/>
                      </div>
                      <div class="formrow">
                        <label for="item_description" class="fieldtitle">Descripción del producto</label>
                        <input type="text" name="item_description" id="item_description_<%%=entity.order_items[lineIdx].id%>" class="fieldcontrol" size="20" value="<%%= entity.order_items[lineIdx].item_description %>"  style="background:#EEE" tabindex="-1"/>
                      </div>
                      <div class="formrow">
                        <label for="item_price_description" class="fieldtitle">Tipo de tarifa del producto</label>
                        <select name="item_price_type" id="item_price_type_<%%=entity.order_items[lineIdx].id%>"></select>
                        <input type="hidden" name="item_price_description" id="item_price_description_<%%=entity.order_items[lineIdx].id%>" value="<%%=entity.order_items[lineIdx].item_price_description%>"/>
                      </div>
                    </div>
                    <div class="grid_6">
                      <div class="left-margin">
                        <div class="formrow">
                          <label for="item_id" class="fieldtitle">Cantidad</label>
                          <input type="text" class="fieldcontrol right_text" name="quantity" size="8" style="padding:5px" value="<%%= entity.order_items[lineIdx].quantity %>"/>
                        </div>
                        <div class="formrow">
                          <label for="item_id" class="fieldtitle">Coste unitario</label>
                          <input type="text" class="fieldcontrol right_text" name="item_unit_cost" size="8" style="padding:5px" value="<%%= new Number(entity.order_items[lineIdx].item_unit_cost).toFixed(2) %>"/>
                        </div>
                        <%% if (entity.order_items[lineIdx].custom_customers_pickup_place) { %>
                        <div class="formrow">
                          <label for="customers_pickup_place" class="fieldtitle">Lugar de recogida</label>
                          <select class="fieldcontrol right_text" name="customers_pickup_place" id="customers_pickup_place_<%%=entity.order_items[lineIdx].id%>"></select>
                        </div>
                        <%% } %>
                        <div class="formrow">
                          <label for="item_custom_payment_allow_deposit_payment_<%%=entity.order_items[lineIdx].id%>">Permite pagar depósito</label>
                          <input type="checkbox" name="item_custom_payment_allow_deposit_payment" id="item_custom_payment_allow_deposit_payment_<%%=entity.order_items[lineIdx].id%>"
                                 <%% if (entity.order_items[lineIdx].item_custom_payment_allow_deposit_payment) {%>checked<%%}%>>
                          <label for="item_custom_payment_allow_deposit_payment_<%%=entity.order_items[lineIdx].id%>">Permite pagar total</label>
                          <input type="checkbox" name="item_custom_payment_allow_total_payment" id="item_custom_payment_allow_total_payment_<%%=entity.order_items[lineIdx].id%>"
                          <%% if (entity.order_items[lineIdx].item_custom_payment_allow_total_payment) {%>checked<%%}%>>
                        </div>
                        <div class="formrow">
                          <label for="own_contract_<%%=entity.order_items[lineIdx].id%>">Contrato actividad*(sólo para actividades con contrato)</label>
                          <input type="checkbox" name="own_contract" id="own_contract_<%%=entity.order_items[lineIdx].id%>"
                                 <%% if (entity.order_items[lineIdx].own_contract) {%>checked<%%}%>>
                        </div>
                        <div class="formrow">
                          <label for="item_id" class="fieldtitle">Notas</label>
                          <textarea name="notes" rows="4" class="fieldcontrol" style="padding: 7px;" cols="18"><%%=entity.order_items[lineIdx].notes%></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%% if (entity.order_items[lineIdx].request_customer_information) { %>
                  <br>
                  <div class="container_12">
                    <div class="grid_12">
                      <h4 class="left_text">Asistentes</h4>
                      <br>
                      <div class="bottom_margin" style="border:1px solid #EEE;padding-right: 20px;">
                        <table class="table smaller_text activity_customers_table table-striped" style="table-layout: fixed">
                          <thead class="table-header">
                          <tr>
                            <th class="table-header" style="width:20px">#</th>
                            <th class="table-header-title" style="width: 120px"><%=t.activity.item_customer_name%></th>
                            <%% if (entity.order_items[lineIdx].request_customer_document_id) { %>
                            <th class="table-header-title"  style="width: 100px"><%=t.activity.item_customer_document_id%></th>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_phone) { %>
                            <th class="table-header-title"  style="width: 110px"><%=t.activity.item_customer_phone%></th>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_email) { %>
                            <th class="table-header-title"  style="width: 135px"><%=t.activity.item_customer_email%></th>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_height) { %>
                            <th class="table-header-title"  style="width: 70px"><%=t.activity.item_customer_height%></th>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_weight) { %>
                            <th class="table-header-title"  style="width: 75px"><%=t.activity.item_customer_weight%></th>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_allergies_intolerances) { %>
                            <th class="table-header-title" style="width: 170px"><%=t.activity.item_customer_allergies_intolerances%></th>
                            <%% } %>
                          </tr>
                          </thead>
                          <tbody>
                          <%% var num=0;%>
                          <%% var item=null;%>
                          <%% for (var customerIdx=0;customerIdx<entity.order_items[lineIdx].customers.length;customerIdx++) { %>
                          <%% item = entity.order_items[lineIdx].customers[customerIdx];%>
                          <%% num++; %>
                          <tr class="table-row">
                            <input type="hidden" name="order_item_customers[<%%=num-1%>][id]" value="<%%=item.id%>"/>
                            <td class="table-cell"><%%=num%></td>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_name]" type="text" maxlength="80" size="15" value="<%%=item.customer_name%>"/>
                              <input name="order_item_customers[<%%=num-1%>][customer_surname]" type="text" maxlength="80" size="15"  value="<%%=item.customer_surname%>"/>
                            </td>
                            <%% if (entity.order_items[lineIdx].request_customer_document_id) { %>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_document_id]" type="text" maxlength="50" size="13" value="<%%=item.customer_document_id%>"/>
                            </td>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_phone) { %>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_phone]" type="text" maxlength="15" size="14" value="<%%=item.customer_phone%>"/>
                            </td>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_email) { %>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_email]" type="text" maxlength="40" size="19" value="<%%=item.customer_email%>"/>
                            </td>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_height) { %>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_height]"  type="text" maxlength="3" size="5" value="<%%=item.customer_height%>"/>
                            </td>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_weight) { %>
                            <td class="table-cell">
                              <input name="order_item_customers[<%%=num-1%>][customer_weight]"  type="text" maxlength="3" size="5" value="<%%=item.customer_weight%>"/>
                            </td>
                            <%% } %>
                            <%% if (entity.order_items[lineIdx].request_customer_allergies_intolerances) { %>
                            <td class="table-cell">
                              <textarea name="order_item_customers[<%%=num-1%>][customer_allergies_or_intolerances]" rows="4" style="width:95%"><%%=item.customer_allergies_or_intolerances%></textarea>
                            </td>
                            <%% } %>
                          </tr>
                          <%% } %>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <%% } %>
                  <div class="bottom-navigation-bar navigation-bar" style="padding: 0px; padding-top: 10px; margin-top: 10px;">
                    <div class="navigation-bar-crud-buttons" style="width: 100%; float: none; margin: 0">
                      <input type="submit" class="blue-button entity-management-button" style="width: 100%" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
                </form>

</script>