<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.order_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.order_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
        <th class="table-header-title" scope="col" style="width:10%"><%= t.order_management.table.id %></th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.order_management.table.creation_date %></th>
         <th class="table-header-title" scope="col" style="width:25%"><%= t.order_management.table.customer %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.order_management.table.product %></th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.order_management.table.status %></th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.order_management.table.payment_status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.notifications %></th>           
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
  <div class="guiblock smaller_text all-space left-margin right-margin">
    <p><%=t.booking_management.footer.title%>:</p>
    <div>
    <span class="more_contrast_text">c1:</span><span class="less_contrast_text"><%=t.booking_management.footer.c1_notification%></span>&nbsp;
    <span class="more_contrast_text">c2:</span><span class="less_contrast_text"><%=t.booking_management.footer.c2_notification%></span>&nbsp;
    <span class="more_contrast_text">c3:</span><span class="less_contrast_text"><%=t.booking_management.footer.c3_notification%></span>&nbsp;
    <span class="more_contrast_text">c4:</span><span class="less_contrast_text"><%=t.booking_management.footer.c4_notification%></span>&nbsp;
    </div>
    <div>
    <span class="more_contrast_text">m:</span><span class="less_contrast_text"><%=t.booking_management.footer.m1_notification%></span>&nbsp;
    <span class="more_contrast_text">m2:</span><span class="less_contrast_text"><%=t.booking_management.footer.m2_notification%></span>&nbsp;    
    <span class="more_contrast_text">m2:</span><span class="less_contrast_text"><%=t.booking_management.footer.m3_notification%></span>&nbsp;     
    </div>
  </div>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.id %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.creation_date) %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.customer_name %> <%%=entity.customer_surname%></td>
      <td class="table-cell element-navigation-detail smaller_text" rel="<%%=index%>">
        <%% var items = []; %>
        <%% for (var idx=0;idx<entity.order_items.length;idx++) { %>
          <%% if (items.indexOf(entity.order_items[idx].item_id) == -1) { %>
            <%%= entity.order_items[idx].item_id %>
            <%% items.push(entity.order_items[idx].item_id); %>
          <%% } %>
        <%% } %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <span class="smaller_text <%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>      
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>">
         <%% if (entity.payment_status == 'none') { %><span class="element-status pending-status smaller_text">p</span> <%% } %>   
         <%% if (entity.payment_status == 'deposit') { %><span class="element-status doing-status smaller_text">d</span> <%% } %>      
         <%% if (entity.payment_status == 'total') { %><span class="element-status done-status smaller_text">t</span> <%%}%>
         <%% if (entity.payment_status == 'refunded') { %><span class="element-status error-status smaller_text">c</span> <%%}%>        
      </td>
      <td class="table-cell centered_text">
         <%% if (entity.customer_req_notification_sent) { %><span class="element-status pending-status smaller_text">c1</span> <%% } %>
         <%% if (entity.customer_notification_sent) { %><span class="element-status confirmed-status smaller_text">c2</span> <%%}%>
         <%% if (entity.customer_req_notification_p_sent) { %><span class="element-status confirmed-status smaller_text">c3</span> <%%}%>
         <%% if (entity.customer_payment_enabled_sent) { %><span class="element-status confirmed-status smaller_text">c4</span> <%%}%>                  
         <%% if (entity.manager_notification_sent) { %><span class="element-status confirmed-status smaller_text">m</span><%%}%>
         <%% if (entity.manager_notification_p_n_sent) { %><span class="element-status confirmed-status smaller_text">m2</span><%%}%>
         <%% if (entity.manager_confirm_notification_sent) { %><span class="element-status confirmed-status smaller_text">m3</span><%%}%>            
      </td>             
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
  <%% if (!entity) { %>
    <form name="element" id="order_management_form">

      <div class="container_12">
        <%= partial :order_management_customer %>
        <div class="grid_6">
          <div class="left-margin all-space bottom-margin" style="border:1px solid #EEE; padding-bottom: 25px">
            <div class="more_contrast_text" style="text-decoration:underline"><%= t.order_management.form.comments_new %></div>
            <div class="formrow">
              <textarea name="comments" rows="6" class="fieldcontrol"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-navigation-bar navigation-bar">
          <div class="navigation-bar-crud-buttons">
              <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
          </div>
      </div>
    </form>

  <%% } else { %>

    <div id="dialogs_container">

      <div class="container_12">
        <div class="element-detail all-border-solid-light all-space overflow bottom-margin-1line">
          <div class="grid_5">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
          </div>
          <div class="grid_5">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                </span>
              </div>
            </div>
            <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.payment_status %></span>
                 <span class="entity-fieldvalue">
                    <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                      <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                    </span>
                 </span>
               </div>
            </div>
          </div>
          <div class="grid_2">
            <div class="container_12">
              <div class="grid_12 smaller_text">      
                <%= partial :order_management_actions %>
              </div>
            </div>          
          </div>
        </div>
      </div>

      <div class="container_12">
        <h2>Detalle del pedido</h2>
        
        <div class="container_12 bottom-margin-1line">
          <%= partial :order_management_detail %>
        </div>
      
      </div>

      <ul id="content_tabs" class="no-border no-background top-margin-2lines">
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="customer_tab" href="#customer_tab">Cliente</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="comments_notes_tab" href="#comments_notes_tab">Comentarios/Notas</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; background:none">
              <a name="charges_tab" href="#charges_tab">Detalle cobros</a>
          </li> 
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="notifications_tab" href="#notifications_tab">Notificaciones</a>
          </li>                    
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="payment_tab" href="#payment_tab"><%= t.order_management.form.payment_title %></a>
          </li>               
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.order_management.form.other_tab%></a>
          </li>          
      </ul>

      <div id="content" style="overflow:overlay">
         <div id="customer_tab" class="top-margin-1line">
           <%= partial :order_management_customer %>
         </div>
         <div id="comments_notes_tab" class="top-margin-1line">
           <%= partial :order_management_comments_notes %>
         </div>         
         <div id="charges_tab" class="top-margin-1line">
           <%= partial :order_management_charges %>
         </div>
         <div id="notifications_tab" class="top-margin-1line">
           <%= partial :order_management_notifications %>
         </div>         
         <div id="payment_tab" class="top-margin-1line">
           <%= partial :order_management_payment %>
         </div>
         <div id="other_tab"  class="top-margin-1line">
           <%= partial :order_management_others %>         
         </div>
      </div>

                                  <div id="create_order_item_container" class="all-space all-border-solid" style="display:none; background: #fff; min-width:600px">

                                    <h4 class="left_text">Nueva línea de pedido</h4>
                                    <form name="add_order_item" 
                                          class="update_order_item form-element" style="padding-top: 5px">
                                          <input type="hidden" name="order_id" value="<%%=entity.id%>"/>
                                      <div class="container_12">
                                        <div class="grid_6">
                                          <div class="formrow">
                                            <label for="date" class="fieldtitle">Fecha</label>
                                            <input type="text" name="date" class="fieldcontrol date_control" id="new_order_line_date" size="14"/>
                                          </div>
                                          <div>  
                                            <label for="time" class="fieldtitle">Hora</label>
                                            <input type="text" name="time" class="fieldcontrol" size="14"/>
                                          </div>           
                                          <div class="formrow">
                                            <label for="item_id" class="fieldtitle">Código del producto</label>
                                            <input type="text" name="item_id" class="fieldcontrol" size="8"/>
                                          </div>
                                          <div class="formrow">  
                                            <label for="item_description" class="fieldtitle">Descripción del producto</label>
                                            <input type="text" name="item_description" class="fieldcontrol" size="20"/>
                                          </div>
                                          <div class="formrow">  
                                            <label for="item_description" class="fieldtitle">Tipo de tarifa del producto</label>
                                            <input type="text" name="item_price_description" class="fieldcontrol" size="31"/>
                                          </div>
                                        </div>
                                        <div class="grid_6">
                                          <div class="left-margin">
                                            <div class="formrow">
                                              <label for="item_id" class="fieldtitle">Cantidad</label>
                                              <input type="text" class="fieldcontrol right_text" name="quantity" size="8" style="padding:5px"/>
                                            </div>
                                            <div class="formrow">
                                              <label for="item_id" class="fieldtitle">Tarifa</label>
                                              <input type="text" class="fieldcontrol right_text" name="item_price_type" size="8" style="padding:5px"/>
                                            </div>                
                                            <div class="formrow">
                                              <label for="item_id" class="fieldtitle">Coste unitario</label>
                                              <input type="text" class="fieldcontrol right_text" name="item_unit_cost" size="8" style="padding:5px"/>
                                            </div>
                                            <div class="formrow">
                                              <label for="item_id" class="fieldtitle">Notas</label>
                                              <textarea name="notes" rows="4" class="fieldcontrol" style="padding: 7px;" cols="18"></textarea>
                                            </div>
                                          </div>  
                                        </div>
                                      </div>  
                                      <div class="bottom-navigation-bar navigation-bar" style="padding: 0px; padding-top: 10px; margin-top: 10px">
                                        <div class="navigation-bar-crud-buttons" style="width: 100%; float: none; margin: 0">
                                           <input type="submit" class="entity-management-button" style="width: 100%" value="<%=t.entitymanagement.create%>"/>
                                        </div>
                                      </div> 
                                    </form>

                                  </div>      
      <%% } %>
</script>

